-----BEGIN CERTIFICATE-----
MIIDJDCCAgwCCQDHMYQF6v+skzANBgkqhkiG9w0BAQUFADBUMQswCQYDVQQGEwJj
bjELMAkGA1UECAwCYmoxCzAJBgNVBAcMAmJqMQwwCgYDVQQKDANseGYxCzAJBgNV
BAsMAnR0MRAwDgYDVQQDDAdseGYuY29tMB4XDTIyMDYwNTA5NDAzMloXDTMyMDYw
MjA5NDAzMlowVDELMAkGA1UEBhMCY24xCzAJBgNVBAgMAmJqMQswCQYDVQQHDAJi
ajEMMAoGA1UECgwDbHhmMQswCQYDVQQLDAJ0dDEQMA4GA1UEAwwHbHhmLmNvbTCC
ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOlW0VCGWL212cPHjpgK93If
d4qNQd4NC3JfgwMoEFBoccI+iuXJJ7x/HErz/gYDHTBAApzutbLqsWDPmamHCvTL
3zy318FoM+BTiyx4YItWgTDPEc+vGRc8V6sjgbyGlrg9aIFgUXQmXxCBT2BY3hbS
UwFoy2IMWFdJBItP0MutXq+SgYJxYjOtwVcte5rBbAqWGuntlcthuhZfrTBEFybv
WrIZ1mSs37rFuaJCa3GaXGrtGL6sjKG8bdxLzPHVd/TsXH2LFUS7FO8kIShjqboS
HvKEXsnzfUGgpcjbi5ouFl5tYyASYgXBVf9YGCUcLgIltvmYkrrWSbmCEmXqyjkC
AwEAATANBgkqhkiG9w0BAQUFAAOCAQEA21WpRQJGyOqdPdl9PEhVarygn08iUMm4
pn1jc4DzsLznusl6WZvZ2LXZxM7Kfr08urMJLHUOcaEPXVIX5XE15VJsb5lHuJHm
pSDte0xFXP+mlZ9y9Sy+J/ofIVli1XPpmzj/l/v8WDSxwaMA88TeBA6yOA0+Es5J
ffUeEoWPqhRycOk97vaOWbF5c8akTKPlu8E94xnn4NQ2CLxMQLzrpmHOcxFmPuGc
6OBE5MYK2395jJF9V+5b75TDSoZyrdLXrNeizfwNE2M9fFxBBcpcpGoYJXeh2gKT
I197nHlw/fgBBHqqZJxHabh5OebJghnRX3HK4X6KJG5HaOs2JeBWWQ==
-----END CERTIFICATE-----
